**
!package.json
!bun.lock
!svelte.config.js
!vite.config.ts
!tsconfig.json
!LICENSE
!src/
!src/**
!static/
!static/**
!src-tauri/
!src-tauri/**
!packaging/
!packaging/debian/
!packaging/debian/Dockerfile
!packaging/smoke.fish
src-tauri/target/
src-tauri/gen/
src-tauri/.bun/
